/*  ////////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    FLEX-ible Columns
    By: Virgilio D. Cabading Jr.
    Creaeted: October 13, 2021
    ////////////////////////////////////////////////*/

.row, .col, .col-2, .col-3 {

}

.row {
    display: flex;
    margin: 20px;
}

.col, .col-2, .col-3 {
    background-color: midnightblue;
    border-radius: 5px;
    flex: 1;
    margin: 0px 10px;
    padding: 20px;
    color: white;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}